<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">

<div layout:fragment="content">

	<div class="panel-heading">List Page</div>
	<div class="panel-body">
		<p>[[${result}]]</p>
		
		<div th:with="result=${result.result}">
			<ul class="list-group">
				<li class="list-group-item " th:each="board:${result.content}">[[${board}]]
			</ul>
		</div>
		
		<!-- paging -->
		<nav>
			<div>
				<ul class="pagination">
					<li th:each="p:${result.pageList}"><a href="#">[[${p.pageNumber}]]</a></li>
				</ul>
			</div>
		</nav>
	</div>
</div>
<!--  end fragment -->

<th:block layout:fragment="script">

</th:block>