  
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">

<div layout:fragment="content">

	<div class="panel-heading">View Page</div>
	<div class="panel-body">


		<div class="form-group">
			<label>BNO</label> <input class="form-control" name="bno"
				th:value="${vo.bno}" readonly="readonly" />
		</div>

		<div class="form-group">
			<label>Title</label> <input class="form-control" name="title"
				th:value="${vo.title}" readonly="readonly" />
			<p class="help-block">Title text here.</p>
		</div>

		<div class="form-group">
			<label>Content</label>
			<textarea class="form-control" rows="3" name='content'
				th:text="${vo.content}" readonly="readonly"></textarea>
		</div>

		<div class="form-group">
			<label>Writer</label> <input class="form-control" name="writer"
				th:value="${vo.writer}" readonly="readonly" />
		</div>

		<div class="form-group">
			<label>RegDate</label> <input class="form-control" name="regDate"
				th:value="${#temporals.format(vo.createdDate,'yyyy-MM-dd')}"
				readonly="readonly" />
		</div>

		<div class="pull-right">
			<!-- query Param @{url(key=value, key=value,...)} -->
			<a th:href="@{/board/modify(page=${pageVO.page}, 
			                size=${pageVO.size}, 
			                type=${pageVO.type}, 
			                keyword=${pageVO.keyword},
			                bno =${vo.bno}
			             )}" class="btn btn-default">Modify/Delete</a> 
			             
			<a th:href="@{/board/list(page=${pageVO.page}, 
			                size=${pageVO.size}, 
			                type=${pageVO.type}, 
			                keyword=${pageVO.keyword},
			                bno = ${vo.bno}
			             )}" class="btn btn-primary">Go List</a> 
		</div>
	</div>
	
	<div class='container'>
		<table class="table table-striped table-bordered table-hover"
			>
			<thead>
				<tr>
					<th>RNO</th>
					<th>REPLY TEXT</th>
					<th>REPLER</th>
					<th>REPLY DATE</th>
				</tr>
			</thead>
			<tbody id="replyTable" >
			</tbody>
		</table>
		
		<div class='pull-right'>
		  <button class='btn ' id='addReplyBtn'>Add Reply</button>
		</div>
		
	</div>

</div>
<!--  end fragment -->

<th:block layout:fragment="script">

	<script th:inline="javascript" th:src="@{/js/reply.js}"></script>
	<script th:inline="javascript">
	$(document).ready((e) => {
		replyManager.getAll(/*[[${vo.bno}]]*/"", printList);
		
		function printList(list) {
			console.log(list);
			let str = "";
			list.forEach((reply)=>{
				str += "<tr>" + 
				"<td>" + reply.rno + "</td>" +
				"<td>" + reply.replyText + "</td>" +
				"<td>" + reply.replyer + "</td>" +
				"<td>" + formatDate(reply.createdDate) + "</td>" +
				"</tr>"
			});
			$("#replyTable").html(str);
		}
		
		function formatDate(timeValue) {
			const date = new Date(timeValue);
			return `${date.getFullYear()}-
					${date.getMonth() + 1 >= 10 ? date.getMonth() + 1 : "0"+(date.getMonth() + 1)}-
					${date.getDate()}`;
		}
	});
	</script>

</th:block>